.background {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: hsl(0, 0%, 93%);
  padding: 3em 2em;
}

.text {
  max-width: 120ch;
  opacity: 0.6;
  text-align: justify;
  display: none;
  font-size: 90%;
}

.text a {
  color: #e6e6f8;
  font-weight: 900;
}

.back {
  position: absolute;
  top: 1em;
  right: 1.625em;
  color: #ececec;
}

.toolbar {
  padding: 0 0.8125em;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.logo {
  object-fit: contain;
  max-width: 18em;
  padding-right: 2em;
  position: relative;
  margin-top: -2.3em;
  height: auto;
  margin-bottom: 1.625em;
}

.search {
  border: 1px solid #eee;
  background: #ececec;
  display: inline-block;
  display: flex;
  margin-bottom: 1.625em;
}

.searchInput {
  width: 100%;
  padding: 0.7em 0.7em;
  font-size: 175%;
  border: none;
}

.button {
  color: #fff;
  background: rgb(97, 177, 223);
  padding: 0.5em 0.7em;
  font-size: 175%;
  pointer-events: none;
}

.button:hover {
  background-color: rgb(42, 136, 190);
}

.more {
  position: absolute;
  bottom: 1em;
  font-size: 110%;
  color: #ececec;
  opacity: 0.95;
}

.searching .logo {
  max-width: 12em;
  height: 5em;
  position: static;
  margin-top: -2em;
  margin-bottom: 0.8125em;
}

.searching .searchInput,
.searching .button {
  font-size: 100% !important;
  padding: 0.8125em 0.40625em;
}

.searching .advanced {
  padding: 0.203125em 1.625em;
}

.searching.more {
  font-size: 100%;
  right: 1em;
  bottom: 0.5em;
}

.result {
  height: 61vh !important;
}

@media (min-width: 750px) {
  /* phablet*/
  .toolbar {
    flex-direction: row;
  }
  .search {
    display: flex;
  }
  .result {
    height: 72vh !important;
  }
  .text {
    display: block;
  }
}
