.container {
  position: relative;
  width: 100%;
}

.suggestionsContainer {
  display: none;
}

.suggestionsContainerOpen {
  display: block;
  position: absolute;
  top: 3.40625em;
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  overflow-y: auto;
  max-height: 75vh;
  box-shadow: 0 1em 3em 0.25em rgba(60, 60, 60, 0.5);
}

/* Custom scrollbar */
.suggestionsContainerOpen::-webkit-scrollbar {
  width: 1.8125em;
  height: 0.8125em;
}

.suggestionsContainerOpen::-webkit-scrollbar-track {
  background: #ececec;
}

.suggestionsContainerOpen::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.7);
}

.suggestionsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.suggestion {
  cursor: pointer;
  padding: 0.8125em;
  border-bottom: 1px solid #aaa;
}

.suggestionHighlighted {
  background-color: #f3f3f3;
}

.sectionContainer {
  border-top: 1px dashed #ccc;
}

.sectionContainerFirst {
  border-top: 0;
}

.sectionTitle {
  padding: 0.40625em 0 0 0.40625em;
  color: #777;
}

@media (min-width: 750px) {
  /* phablet*/
  .container:nth-of-type(1) {
    width: 22.75% !important;
    margin-right: 1.625em;
  }

  .container:nth-of-type(2) {
    width: 37.15% !important;
    margin-right: 1.625em;
  }

  .container:nth-of-type(3) {
    width: 25.5% !important;
    margin-right: 1.625em;
  }

  .container:nth-of-type(4) {
    width: 20% !important;
  }
}
