.background {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: hsl(0, 0%, 93%);
  padding: 4em 2em;
}

.text {
  max-width: 120ch;
  opacity: 0.6;
  text-align: justify;
  font-size: 90%;
}

.text a {
  color: #e6e6f8;
  font-weight: 900;
}

.back {
  position: absolute;
  top: 1em;
  right: 1.625em;
  color: #ececec;
}

.logo {
  object-fit: contain;
  max-width: 14em;
  padding-right: 2em;
  position: relative;
  margin-top: -2em;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  margin-bottom: 1.625em;
}

.search {
  border: 1px solid #eee;
  background: #ececec;
  display: inline-block;
}

.input {
  padding: 0.7em 0.7em;
  font-size: 175%;
  border: none;
}

.button {
  color: #fff;
  background: rgb(97, 177, 223);
  padding: 0.5em 0.7em;
  font-size: 175%;
}

.button:hover {
  background-color: rgb(42, 136, 190);
}

.advanced {
  padding: 1.625em;
  color: #fff;
  font-weight: 900;
  text-decoration: underline;
}

.more {
  position: absolute;
  bottom: 1em;
  font-size: 110%;
  color: #ececec;
  opacity: 0.95;
}

.searching.content {
  height: 11vh;
}

.searching .logo {
  max-width: 10em;
  position: static;
  margin-top: -0.3em;
}

.searching .input {
  width: 50vw;
}

.searching .input,
.searching .button {
  font-size: 100%;
  padding: 0.8125em 0.40625em;
}

.searching .advanced {
  padding: 0.203125em 1.625em;
}

.searching.more {
  font-size: 100%;
  right: 1em;
  bottom: 0.5em;
}

@media (min-width: 750px) {
  /* phablet*/
  .content {
    flex-direction: row;
    max-width: 90vw;
    height: auto;
  }
  .search {
    display: flex;
  }
  .advanced {
    padding: 0.5em 1.625em 0;
  }
}
