/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
    local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
    local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  font-style: normal !important;
  font-family: 'system';
  background: linear-gradient(
      rgba(30, 30, 60, 0.8),
      rgba(20, 20, 60, 0.89),
      rgba(25, 25, 35, 0.85)
    ),
    url('./assets/img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
}

fieldset {
  border: 0;
}

main,
li {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

img {
  border: 0;
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: contain;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  overflow: visible;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

input[type='submit'] {
  -webkit-appearance: none;
}

/*
* Global style
*/

html {
  line-height: 1.625;
}

h1 {
  font-size: 1.625em;
  line-height: 1.421875em;
  letter-spacing: 0.0125em;
  margin-bottom: 0.609375em;
}

h2 {
  font-size: 1.35416666666666667em;
  line-height: 1.3044928175em;
  letter-spacing: 0.0125em;
  margin-bottom: 0.3205078125em;
}

h3 {
  font-size: 1.15416666666666667em;
  line-height: 1.2982421875em;
  letter-spacing: 0.0125em;
  margin-bottom: 0.3267578125em;
}

p {
  margin-bottom: 0.8125em;
}

/* Device Types with responsive typography*/

@media (min-width: 1px) {
  /* Mobile*/
  body {
    font-size: 70%;
  }
}

@media (min-width: 550px) {
  /* tablet*/
  body {
    font-size: 70%;
  }
}

@media (min-width: 750px) {
  /* phablet*/
  body {
    font-size: 75%;
  }
}

@media (min-width: 960px) {
  /* laptop*/
  body {
    font-size: 80%;
  }
}

@media (min-width: 1280px) {
  /* desktop*/
  body {
    font-size: 85%;
  }
}

@media (min-width: 1920px) {
  /* large screen*/
  body {
    font-size: 90%;
  }
}
